@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
#backgroundImg{
    
    height: 500px;
    background-image: url("./imgs/apple-pie.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;


}

.line{
    height: 2px;
    width: 100%;
background: gray;}

h2{
    font-family: 'Roboto', sans-serif;
}
#center{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#img2{
   
    height: 100px;
    margin-top: 20px;
   margin-left: 30%;
    background: red;
    
}

#img3{
    text-align: center;
    height: 100px;
    margin-top: 20px;
    margin-left: 30%;
    
}

#ingredients li{
    list-style: none;
    
}
#ingredients li::before{
    content: "-";
    
}

#directions {
    counter-reset: li;
    list-style: none;
    
}
#directions > li::before{
    counter-increment: li;
    content: counter(li) ') ';
    
}